name: Build gem
on:
  release:
    types:
      - released
env:
  RACK_ENV: test
  GEM_HOST: https://t.gb4.co/gems
  ImageOS: ubuntu20
  DOC_DIR: gb_paperclip
  BUNDLER_VERSION: 2.3.12
jobs:
  release:
    name: Run test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      SIMPLECOV: json
      ImageOS: ubuntu20
    container:
      image: ruby:2.7-alpine
      volumes:
        - /mnt/efs/docs-storage/:/mnt/efs/docs-storage/
    steps:
      - name: Install dependencies
        run: |
          apk add --no-cache --update build-base \
              linux-headers \
              bash openssh-client git tar libcurl rsync \
              postgresql-dev \
              nodejs \
              tzdata libcurl curl-dev libxml2 libxml2-dev gcc make \
              sqlite sqlite-dev sqlite-libs \
              imagemagick \
              ffmpeg x264 x265 libvpx libtheora \
              file
          gem install bundler:${BUNDLER_VERSION}
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Cache gems
        uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-build-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-build-
      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle config set with 'development test'
          bundle install --jobs 16 --retry 3
      - name: Runs tests
        run: |
          bundle exec rspec -f j -o rspec_results.json -f p
      - name: Build gem
        shell: bash
        run: |
          gem build ./gb-paperclip.gemspec
      - name: Release
        shell: bash
        run: |
          mkdir -p ~/.gem/
          echo ":github: Bearer ${{ secrets.GITHUB_TOKEN }}" > ~/.gem/credentials
          chmod 0600 ~/.gem/credentials
          for GEM in ./*.gem; do
            gem push "$GEM" --host "$GEM_HOST" --key github
          done
      - name: Build documentation
        shell: bash
        run: |
          gem install yard
          yardoc --protected --private --embed-mixins --backtrace --no-progress --one-page
      - name: Upload docs
        uses: actions/upload-artifact@v3
        with:
          name: docs
          path: doc/index.html
#      - name: Deploy docs
#        uses: JamesIves/github-pages-deploy-action@v4.3.3
#        with:
#          branch: gh-pages
#          folder: doc
