name: Pull Request check
on:
  - pull_request
  - workflow_dispatch
env:
  RACK_ENV: test
  BUNDLER_VERSION: 2.2.30
  ImageOS: ubuntu20
jobs:
  test:
    name: Run test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '2.6', '2.7', '3.0', '3.1' ]
    env:
      SIMPLECOV: json
      ImageOS: ubuntu20
    container: ruby:${{ matrix.ruby }}-alpine
    steps:
      - name: Install dependencies
        run: |
          apk add --no-cache --update build-base \
              linux-headers \
              bash openssh-client git tar \
              postgresql-dev \
              nodejs \
              tzdata libcurl curl-dev libxml2 libxml2-dev gcc make \
              sqlite sqlite-dev sqlite-libs \
              imagemagick \
              ffmpeg x264 x265 libvpx libtheora \
              file
          gem install bundler:${BUNDLER_VERSION}
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Cache gems
        uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-test-${{ matrix.ruby }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-test-${{ matrix.ruby }}-
      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle config set with 'development test'
          bundle config set --local deployment 'true'
          bundle install --jobs 16 --retry 3
      - name: Runs tests
        run: |
          bundle exec rspec -f j -o rspec_results.json -f p
      - name: RSpec Report
        if: always()
        uses: SonicGarden/rspec-report-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          json-path: rspec_results.json
      - name: Simplecov Report
        uses: aki77/simplecov-report-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          failedThreshold: 70
